body {
    margin: 0;
    font-family: Arial;
    background-color: #3d333b;
}

header {
    position: sticky;
    top: 0;
    height: 100px;
    background-color: #191919;
    color: #E6E8E6;
    z-index: 10;
}

.logo {
    position: absolute;
    width: 90px;
    left: 100px;
    top: 5px;
}

nav {
    position: absolute;
    right: 100px;
    top: 0;
    height: 100px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav {
    width: 100px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.nav:hover {
    background-color: #333;
}

nav a {
    text-decoration: none;
    color: #E6E8E6;
    font-size: 24px;
}

.hero {
    width: 100%;
}

section {
    background-color: #E6E8E6;
    width: 90%;
    margin: 50px auto;
    border-radius: 10px;
    padding: 40px 0;
}

.bar {
    display: flex;
    justify-content: right;
    gap: 10px;
    padding: 0 100px 50px 0;
}

.search {
    display: flex;
    width: 1350px;
    height: 50px;
}

input {
    flex-grow: 1;
    border: 1px solid #191919;
    border-right: none;
    padding: 5px;
    font-size: 24px;
}

button {
    border: 1px solid #191919;
    background: white;
    cursor: pointer;
    width: 50px;
}

select {
    border: 1px solid #191919;    
    background: white;
    padding: 5px 20px;
}

option {
    font-size: 24px;
}

.heading {
    font-size: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
    border-bottom: 2px solid #191919;
    width: 90%;
    display: inline-block;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
}

.wrapper {
    position: relative;
    width: 300px;
    height: 500px;
}

.card, .card2 {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    transition: 0.8s ease;
}

.card2 {
    opacity: 0;
}

.wrapper:hover .card {
    opacity: 0;
}

.wrapper:hover .card2 {
    opacity: 1;
}

.product-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.description {
    font-weight: 600;
}

.bold {
    font-weight: bold;
}

.crossed-price {
    text-decoration: line-through;
    margin-right: 8px;
}

footer {
    background-color: #191919;
    color: #E6E8E6;
    height: 100px;
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
}
